.DataTable__table {
    border-collapse: collapse;
}

.DataTable__table th,
.DataTable__table td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: black;
    color: white;
}