.cart-dropdown-container {
    position: absolute;
    z-index: 2;
    top: 80px;
    background-color: white;
    min-width: 300px;
    right: 100px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
    max-height: 400px;
}

.cart-dropdown {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart-dropdown::-webkit-scrollbar {
    width: 7px;
}

.cart-dropdown::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.cart-dropdown::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: black;
}

@media screen and (mid-width:1600px) {
    .cart-dropdown {
        top: 100px;
        min-width: 500px;
        padding: 10px 15px;
    }
}

.cart-img-disabled {
    opacity: 0.3;
}