.pdp-side-img,
.pdp-side-img-skeleton {
  width: 70px;
  height: 70px;
  border-radius: 7px;
}

.pdp-main-img {
  width: 400px;
  border-radius: 7px;
}

.pdp-main-img-skeleton {
  width: 400px;
  height: 800px;
}

.pdp {
  margin-top: 60px;
}

.pdp-details {
  font-family: "Poppins";
}

.pdp-details .name {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  margin: 4px;
}

.pdp-details .text-muted {
  font-size: 14px;
  margin: 2px;
}

.pdp-details .price {
  padding-top: 40px;
  font-size: 26px;
  font-weight: 500;
}

.pdp-details .description {
  font-size: 12px;
}

.pdp-details .add-to-cart-btn {
  background-color: black;
  color: white;
  border: none;
  font-size: 14px;
  width: 100%;
  border-radius: 15px;
}

.pdp-details .wishlist-btn {
  background-color: white;
  color: black;
  border: none;
  font-size: 16px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid black;
  margin: 0px;
}

@media screen and (min-width: 1600px) {
  .pdp-side-img {
    width: 100px;
    height: 100px;
  }

  .pdp-main-img-skeleton {
    width: 600px;
    height: 800px;
  }

  .pdp-main-img {
    width: 600px;
    margin: 0px 25px;
  }

  .pdp-details .name {
    font-size: 28px;
  }

  .pdp-details .text-muted {
    font-size: 20px;
  }

  .pdp-details .price {
    font-size: 32px;
  }

  .pdp-details .description {
    font-size: 16px;
  }

  .pdp-details .add-to-cart-btn {
    font-size: 20px;
  }
}

.pdp-details .out-of-stock {
  color: red;
  font-size: 12px;
  opacity: 1;
  font-weight: 500;
}

.out-of-stock-btn {
  opacity: 0.5;
}



.product-sizes p {
  font-family: "Poppins";
  padding: 7px 5px;
  width: 50px;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
}



.product-sizes p:hover {
  background-color: rgb(244, 244, 244);
}

.product-attributes .head {
  font-family: "Poppins";
  font-size: 18px;
}



.product-attributes .attribute-name {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid black;

}

.attribute-value {
  font-family: "Poppins";
  font-size: 14px;
}

.product-reviews .head {
  font-size: 16px;
  font-weight: 500px;
  font-family: "Poppins";
}

.product-review img {
  width: 40px;
}

.product-review .card-title {
  font-size: 14px;
  font-family: "Poppins";
}

.product-review .card-body {
  font-size: 12px;
  font-family: "Poppins";
}

.review-description {
  font-size: 12px;
  font-family: "Poppins";
  padding-left: 16px;
  line-height: 0.8;
}

.product-reviews-list {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.product-reviews-list::-webkit-scrollbar {
  width: 7px;
}

.product-reviews-list::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.product-reviews-list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: black;
}